<!-- Breadcrumb Area Start -->
<section class="filmoja-breadcrumb-area section_70">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-box">
          <h2>Register</h2>
          <ul>
            <li><a href="index-2.html">Home</a></li>
            <li class="active-breadcromb">Register</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Area End -->


<!-- Login Area Start -->
<section class="filmoja-login-area section_70">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="auth-box-right">
          <h3>have an account?</h3>
          <div class="login-box">
            <h4>Please login</h4>
            <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click register.</p>
            <a href="login.html">login here</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="auth-box-left margin-top">
          <h3>have an account?</h3>
          <div class="login-box">
            <form>
              <div class="row">
                <div class="col-lg-6">
                  <p>
                    <label for="ful_name">Full Name</label>
                    <input type="text" name="ful_name" id="ful_name" placeholder="Full Name">
                  </p>
                </div>
                <div class="col-lg-6">
                  <p>
                    <label for="Email">Email Address</label>
                    <input type="email" name="Email" id="Email" placeholder="Email Address">
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <p>
                    <label for="password">password</label>
                    <input type="password" name="password" id="password" placeholder="Password">
                  </p>
                </div>
                <div class="col-lg-6">
                  <p>
                    <label for="password2">confirm password</label>
                    <input type="password" name="password2" id="password2" placeholder="Confirm Password">
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>
                    <button type="submit">login</button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Login Area End -->
