<!-- Breadcrumb Area Start -->
<section class="filmoja-breadcrumb-area section_70">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-box">
          <h2>login</h2>
          <ul>
            <li><a href="index-2.html">Home</a></li>
            <li class="active-breadcromb">login</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Area End -->


<!-- Login Area Start -->
<section class="filmoja-login-area section_70">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="auth-box-right">
          <h3>new to filmoja?</h3>
          <div class="login-box">
            <h4>Create An Account</h4>
            <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click register.</p>
            <a href="register.html">Register here</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="auth-box-left margin-top">
          <h3>login Please!</h3>
          <div class="login-box">
            <form>
              <p>
                <label for="username">username</label>
                <input type="text" name="username" id="username" placeholder="Username" >
              </p>
              <p>
                <label for="password">password</label>
                <input type="password" name="password" id="password" placeholder="Password" >
              </p>
              <p>
                <button type="submit" >login</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Login Area End -->
